@model AllPetsViewModel

@{
    ViewData["Title"] = "All";
}

<div>
    <a href="/Pets/All/?page=@Model.PrevPage" class="float-left btn btn-info @(Model.PrevDisabled ? "disabled" : string.Empty)">Prev</a>
    <a href="/Pets/All/?page=@Model.NextPage" class="float-right btn btn-info  @(Model.NextDisabled ? "disabled" : string.Empty)">Next</a>
</div>

    <table class="table table-bordered table-striped">
        <tr>
            <th>
                Type
            </th>
            <th>
                Breed
            </th>
            <th>
                Type
            </th>
        </tr>
        @foreach (var pet in Model.Pets)
        {
            <tr>
                <td>
                   (@pet.Id)  @pet.Category
                </td>
                <td>
                    @pet.Breed
                </td>
                <td>
                    @pet.Price
                </td>
            </tr>
        }
    </table>



